html {
  font-size: 14px;
  color: #06030c;
  background: #E8E3F8;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
    color: #06030c;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color: #06030c;
  background: #E8E3F8;
}
/*Search styling start */
#searchButton {
  border-radius: 15px;
  border: none;
  background-color: #659DBD;
  color: #06030c;
  padding: 1px 22px;
  height: 30px;
}

.backgroundHome {
  width: 100%;
  height: 100%;
  background-image: url("https://i.imgur.com/TZd8BWo.png");
  background-repeat: repeat-y;
  background-size: cover;
  justify-content: center;
  text-align: center;

}

.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 400px;
  height: 150px;
  align-self: center;
  justify-self: center;
  background-color: transparent;
  margin: auto auto 35px;
}

#searchButton {
  flex: auto;
}

#search {
  width: 270px;
  border-radius: 15px;
  padding: 2px 5px;
  height: 30px;
  background-color: #E8E3F8;
  border: 1px solid #ccc;
  flex:3;
  margin-left:10px;
}
/*Search styling end*/

.dateDiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*Calendar styling*/
#calendar {
  width: 400px;
  height: 300px;
  color: #111;
  border: 1px solid rgb(222,222,222,0.6);
  border-radius: 2%;
  background-color: #E8E3F8;
  margin: -35px auto 20px;
}

#calendar2 {
  width: 400px;
  height: 300px;
  color: #111;
  border: 2px solid #111;
  border-radius: 2%;
  background-color: #E8E3F8;
  margin: 10px auto 20px;
}


.calendarInfo{
  margin:-80px auto 45px auto;
  text-align:center;
  background-color:#E8E3F8;
  width:380px;
  height:38px;
  border-radius:25px;
  font-size:12px;
}

/*Chosen date styling*/
#dates {
  background-color: #E8E3F8;
  border-radius: 15px;
  width: 350px;
  height: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

#dates2 {
  background-color: white;
  border-radius: 15px;
  border:2px solid #111111;
  width: 350px;
  height: 30px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

/*Calendar button css styling start */
.fc-button.fc-next-button.fc-button-primary {
  background-color: #659DBD;
  border-color: #659DBD;
  color: #06030c;
  border-radius: 15px;
}

.fc-button.fc-next-button.fc-button-primary:hover {
  background-color: #4987ab;
}

.fc-button.fc-next-button.fc-button-primary:focus {
  background-color: #4987ab;
}

.fc-button.fc-next-button.fc-button-primary:active {
  background-color: #4987ab;
}

.fc-button.fc-prev-button.fc-button-primary {
  background-color: #659DBD;
  border-color: #659DBD;
  color: #06030c;
  border-radius: 15px;
}

.fc-button.fc-prev-button.fc-button-primary:hover {
  background-color: #659DBD;

}

.fc-button.fc-prev-button.fc-button-primary:focus {
  background-color: #4987ab;
}

.fc-button.fc-prev-button.fc-button-primary:active {
  background-color: #4987ab;
}



.fc-highlight {
  background: green;
  opacity: 1;
  border: 2px solid green;
  border-radius: 15px;
}

.fc-header-toolbar.fc-header-toolbar {
  margin-left: 5px;
}

.fc-today-button.fc-button.fc-button {
  border-radius: 15px;
  background-color: #4987ab;
  border: none;
  color: #06030c;
}
/*Calendar button css styling end */

/*Calendar Today Styling*/
.fc-day.fc-day-thu.fc-day-today.fc-daygrid-day{
  background-color: rgba(73,135,171, 0.3);
 }

/* Styling sliding toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 48px;
  height: 28px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 22px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #659dbd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #659dbd;
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 28px;
}

.slider.round:before {
  border-radius: 50%;
}

label[for="toggleFilterBtnCheckbox"] {
  font-size: 20px;
}

/*Slider end*/

/* Button styling */
.buttonStyle {
  margin-bottom: 20px;
  background-color: #659DBD;
  border-radius: 25px;
  border: none;
  width: 120px;
  height: 30px;
  text-align: center;
  color: #06030c;
  justify-content:center;
}

.slideshow{
  width:800px;
  margin: auto;
}

.slideshow > img{
  height:200px;
  width:200px;
  object-fit: cover;
}

.slideshowBackground{
  background-color:#E8E3F8;
  width:100%;
}

.divider{
  background-color:#E8E3F8;
  height:40px;
  width:100%;
}

.fc-event-title{
  font-weight: bold;
}
.fc-event-title{
  font-weight: bold;
}
