<div class="container">
  <h1>Edit Listing</h1>
  <form (ngSubmit)="onSubmit()" class="row">
    <div class="col-md-4">
      <!-- Form fields for listing details -->
      <div class="form-group">
        <label class="control-label">Name</label>
        <input type="text" [(ngModel)]="listing.Name" name="name" class="form-control" />
      </div>
      <div class="form-group">
        <label class="control-label">Place</label>
        <select [(ngModel)]="listing.Place" name="place" class="form-control" >
          <option value="Oslo">Oslo</option>
          <option value="Bergen">Bergen</option>
          <option value="Trondheim">Trondheim</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Description</label>
        <input type="text" [(ngModel)]="listing.Description" name="description" class="form-control" />
      </div>
      <div class="form-group">
        <label class="control-label">Type</label>
        <select [(ngModel)]="listing.Type" name="type" class="form-control" >
          <option value="House">House</option>
          <option value="Apartment">Apartment</option>
          <option value="Cabin">Cabin</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Price</label>
        <input type="number" [(ngModel)]="listing.Price" name="price" class="form-control" />
      </div>
      <div class="form-group">
        <label class="control-label">Guests</label>
        <input type="number" [(ngModel)]="listing.Guests" name="guests" class="form-control" />
      </div>
      <div class="form-group">
        <label class="control-label">Bedrooms</label>
        <input type="number" [(ngModel)]="listing.Bedrooms" name="bedrooms" class="form-control" />
      </div>
      <div class="form-group">
        <label class="control-label">Bathrooms</label>
        <input type="number" [(ngModel)]="listing.Bathrooms" name="bathrooms" class="form-control" />
      </div>
      <div class="form-group">
        <label class="control-label">Start Date</label>
        <input type="date" [(ngModel)]="listing.StartDate" name="startDate" class="form-control" />
      </div>
      <div class="form-group">
        <label class="control-label">End Date</label>
        <input type="date" [(ngModel)]="listing.EndDate" name="EndDate" class="form-control" />
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary">Update</button>
    </div>
  </form>

  <!-- Existing images -->
  <div class="image-container">
    <div *ngFor="let image of images">
      <img [src]="image.FilePath" alt="Image" class="img-thumbnail" />
      <button (click)="deleteImage(image.Id)" class="btn btn-danger">Delete</button>
    </div>
  </div>

  <!-- Delete listing button -->
  <button (click)="deleteListing()" class="btn btn-danger">Delete Listing</button>

  <div class="divider"></div>
  <button class='btn btn-primary' [routerLink]="['/listings']">Back to list</button>
</div>

