<h1 id="tableLabel">List of Listings ({{viewTitle}} View)</h1>

<button class='btn btn-primary' (click)='getListings()'>Get Listings</button>

<table class='table table-striped' aria-labelledby="tableLabel">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Place</th>
      <th>Description</th>
      <th>Type</th>
      <th>Price</th>
      <th>Guests</th>
      <th>Bedrooms</th>
      <th>Bathrooms</th>
      <th>Start Date</th>
      <th>End Date</th>
      <!-- Add other columns based on the Llisting interface -->
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor='let listing of listings'>
      <td>{{ listing.Id }}</td>
      <td>{{ listing.Name }}</td>
      <td>{{ listing.Place }}</td>
      <td>{{ listing.Description }}</td>
      <td>{{ listing.Type }}</td>
      <td>{{ listing.Price }}</td>
      <td>{{ listing.Guests }}</td>
      <td>{{ listing.Bedrooms }}</td>
      <td>{{ listing.Bathrooms }}</td>
      <td>{{ listing.StartDate | date }}</td>
      <td>{{ listing.EndDate | date }}</td>
      <td>
        <button class='btn btn-primary' [routerLink]="['/listings', 'edit', listing.Id]">Update</button>
        <button class='btn btn-danger' (click)="deleteListing(listing)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>
<button class='btn btn-primary' [routerLink]="['/listingform', 'create', -1]">Create New listing</button>


