<div class="backgroundHome">
  <!-- Search Bar -->
  <div class="searchBar">
    <select id="search" name="Search" [(ngModel)]="searchTerm">
      <option value="">Select a Place</option>
      <option value="">Select a Place</option>
      <option value="Oslo">Oslo</option>
      <option value="Bergen">Bergen</option>
      <option value="Trondheim">Trondheim</option>
    </select>
    <button id="searchButton" (click)="onSearch()">Search</button><br/>
  </div>

  <full-calendar id="calendar"></full-calendar>

  <div id="dates">
    <!-- Selected dates: {{ startDate }} to {{ endDate }} -->
  </div>

  <!-- Form for Reservation -->
  <form action="/Reservations" method="get">
    <input type="hidden" id="placeInput" name="Place" [value]="searchTerm">
    <input type="hidden" id="startDateInput" name="StartDate" [value]="startDate">
    <input type="hidden" id="endDateInput" name="EndDate" [value]="endDate">
    <button type="submit" class="buttonStyle">See results</button>
  </form>

  <!-- Image Slider -->
  <!-- Implement the image slider here -->
</div>
