<div class="backgroundHome">
  <!-- Search Bar -->
  <div class="searchBar">
    <select id="search" name="Search" [(ngModel)]="searchTerm">
      <option value="">Select a Place</option>
      <option value="Oslo">Oslo</option>
      <option value="Bergen">Bergen</option>
      <option value="Trondheim">Trondheim</option>
    </select>
    <button id="searchButton" (click)="updateCalendarEvents()">Search</button><br/>
  </div>
  <div class="calendarInfo">The more <strong style="color:red; text-decoration: underline">red</strong> the date, the more listings are <strong>booked.</strong> <br /><strong>Click</strong> and <strong>drag</strong> to select dates to filter by.</div>

  <full-calendar #calendar [options]="calendarOptions" id="calendar"></full-calendar>

  <div id="dates">
    Selected dates: {{ startDate }} to {{ endDate }}
  </div>

  <!-- Form for Reservation -->
  <form>
    <input type="hidden" id="placeInput" name="Place" [(ngModel)]="searchTerm">
    <input type="hidden" id="startDateInput" name="StartDate" [(ngModel)]="startDate">
    <input type="hidden" id="endDateInput" name="EndDate" [(ngModel)]="endDate">
    <button (click)="navigateToReservations()" class="buttonStyle">See results</button>
  </form>


  <br />
  <div class="divider"></div>
  <!-- Slideshow -->
  <div class="slideshowBackground">
  <div class="slideshow">
    <carousel
      [images]="images"
      [loop]="true"
      [autoplay]="true"
      [pauseOnHover]="true"
      transitionTimingFunction="linear"
      [transitionDuration]="350">
    </carousel>
  </div>
  </div>

  <div class="divider"></div>

  <br />
  <br />
</div>
