<div class="text-center">
  <h1>{{ reservation.Name }}</h1>
</div>

<div class="row">
  <div class="col">
    <h5>PRICE PER NIGHT:</h5>
    <p>{{ reservation.Price }}</p>
  </div>
  <div class="col">
    <h5>LOCATION:</h5>
    <p>{{ reservation.Place }}</p>
  </div>
  <div class="col">
    <h5>TYPE:</h5>
    <p>{{ reservation.Type }}</p>
  </div>
  <div class="col">
    <h5>GUESTS:</h5>
    <p>{{ reservation.Guests }}</p>
  </div>
  <div class="col">
    <h5>BEDROOMS:</h5>
    <p>{{ reservation.Bedrooms }}</p>
  </div>
  <div class="col">
    <h5>BATHROOMS:</h5>
    <p>{{ reservation.Bathrooms }}</p>
  </div>
</div>
<div class="row">
  <h5>DESCRIPTION:</h5>
  <p>{{ reservation.Description }}</p>
</div>
